.p-dialog-maximized .p-dialog-content {
    width: 100vw !important;
}

.p-tooltip {
    z-index: 500;
}

.p-datatable-reorderablerow-handle {
    cursor: pointer;
}

.p-scrollpanel .p-scrollpanel-bar-y {
    width: 0.5em;
}

.p-scrollpanel .p-scrollpanel-bar-x {
    height: 0.5em;
}

.p-inplace .p-inplace-display {
    padding: 0.2rem;
}
