:root {
    --header-height: 71px;
    --tree-searching-height: 29px;
    --normal: #2158d9;
    --warning: #f7e70bf1;
    --major: #ee811b;
    --critical: #ee6666;
    --comm00-color: #99cfed;
    --comm01-color: #15c912;
    --comm04-color: #a824c9;
    --comm05-color: #111111;
    --text-alert-color: #ffffffde;
    --text-alert-warning-color: #212529;
    --tree-width: 18vw;
}

::-webkit-scrollbar {
    width: 0.5em;
    background: none;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: var(--surface-border);
    border-radius: 3px;
    z-index: 2;
}

::-webkit-scrollbar-track {
    background: none;
}

html {
    font-size: 12px;
    background: var(--surface-a);
    color: var(--text-color);
    overflow: hidden;
}

body {
    margin: 0;
}

@keyframes blink {
    5% {
        box-shadow: 0px 0px 0px 0px inset;
    }

    50% {
        box-shadow: 0px 0px 4px 4px inset;
    }

    95% {
        box-shadow: 0px 0px 0px 0px inset;
    }
}

.i-lvl-null {
    background: transparent;
}

.i-lvl00 {
    background: transparent;
    border: 1px solid var(--surface-border);
}

.i-lvl01 {
    background-color: var(--warning);
    color: var(--text-alert-warning-color);
}

.i-lvl02 {
    background-color: var(--major);
    color: var(--text-alert-color);
}

.i-lvl03 {
    background-color: var(--critical);
    color: var(--text-alert-color);
}

.i-comm00 {
    background-color: var(--comm00-color);
}

.i-comm01 {
    animation: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: var(--comm01-color);
}

.i-comm04 {
    background-color: var(--comm04-color);
}

.i-comm05 {
    background-color: var(--comm05-color);
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid var(--surface-border);
}