:root {
    --header-height: 71px;
    --tree-searching-height: 29px;
    --normal: #2158d9;
    --warning: #f7e70bf1;
    --major: #ee811b;
    --critical: #ee6666;
    --comm00-color: #99cfed;
    --comm01-color: #3ca84c;
    --comm04-color: #a824c9;
    --comm05-color: #142027;
    --text-alert-color: #ffffffde;
    --text-alert-warning-color: #212529;
    --tree-width: 18vw;
}

::-webkit-scrollbar {
    width: 0.5em;
    background: none;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: var(--surface-border);
    border-radius: 3px;
    z-index: 2;
}

::-webkit-scrollbar-track {
    background: none;
}

html {
    font-size: 12px;
    background: var(--surface-a);
    color: var(--text-color);
    overflow: hidden;
}

body {
    margin: 0;
}

@keyframes blink {
    5% {
        box-shadow: 0px 0px 0px 0px inset;
    }

    50% {
        box-shadow: 0px 0px 6px 0px inset;
    }

    95% {
        box-shadow: 0px 0px 0px 0px inset;
    }
}