:root {
    --header-height: 71px;
    --tree-searching-height: 29px;
    --normal: #4444ee;
    --warning: #f7e70bf1;
    --major: #ee811b;
    --critical: #ee6666;
    --text-alert-color: #ffffffde;
    --text-alert-warning-color: #212529;
}
::-webkit-scrollbar {
    width: 0.5em;
    background: none;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: var(--surface-border);
    border-radius: 3px;
    z-index: 2;
}

::-webkit-scrollbar-track {
    background: none;
}

html {
    font-size: 12px;
    background: var(--surface-a);
    color: var(--text-color);
    overflow: hidden;
}

body {
    margin: 0;
}
